In [7]:
d1= {'Name': 'Kushal', 'address': "Hyderabad"}

In [9]:
d1['Name'] = 'Gitam'

In [10]:
d1['Name'] # Access the specific key

'Gitam'

In [11]:
d1

{'Name': 'Gitam', 'address': 'Hyderabad'}

In [12]:
d1.keys() # returns the list of keys

dict_keys(['Name', 'address'])

In [13]:
d1.values() # return the values

dict_values(['Gitam', 'Hyderabad'])

In [14]:
d1.items()# the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('address', 'Hyderabad')])

### Tuples
- t1 parenthesis() li square brackets[]
- Differences between list and tuples
     - list are mutable - can be changed / modified
          - used to access modify , add , delete data
     - tuples are immutable - cannot be changed
          - Used to access data only

In [16]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

### Contact Application
 - Add Contact
 - Search the Contact
 - List all contacts
     - name1 : phone1
     - name2 : phone2
 - Modify the contact
 - Remove the contact
 - Import the contact

In [19]:
# Add contact
contacts = {} # Creating a dictionary object
def addContacts(name,phone):
    if name not in contacts: # Condition to check phone exisits or not
        contacts[name] = phone
        print("Contact details are added")
    else:
        print("Contact details are already exists")
    return
addContacts('Kushal','7893044510')
addContacts('Vishal','8008952106')
addContacts('Vishal','6303183496')

Contact details are added
Contact details are added
Contact details are already exists

In [20]:
contacts

{'Kushal': '7893044510', 'Vishal': '8008952106'}

In [22]:
# Search for contact details
def searchContact(name):
    if name in contacts:
        print(name, " : " , contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchContact('Kushal')
searchContact('Dejo')
searchContact('Vishal')

Kushal  :  7893044510
Dejo does not exists
Vishal  :  8008952106

In [24]:
# Import some contacts
# Merge the contact with existing one
def importContact(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successfully")
    return
newContacts = {'Dejo' :9989870353,'Nikhil':8008246333}
importContact(newContacts)

2 Contacts added successfully

In [25]:
contacts

{'Kushal': '7893044510',
 'Vishal': '8008952106',
 'Dejo': 9989870353,
 'Nikhil': 8008246333}

In [26]:
# Delete a contact
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,"Deleted successfully")
    else:
        print(name,"Not exists")
    return
deleteContact('Dejo')

Dejo Deleted successfully

In [27]:
contacts

{'Kushal': '7893044510', 'Vishal': '8008952106', 'Nikhil': 8008246333}

In [35]:
# Update the contact details
def deleteContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"Updated successfully")
    else:
        print(name,"Not exists")
    return
deleteContact('Vishal',6303183496)
deleteContact('Dejo',9989870353)

Vishal Updated successfully
Dejo Not exists

In [36]:
contacts

{'Kushal': '7893044510', 'Vishal': 6303183496, 'Nikhil': 8008246333}

In [40]:
# Classical version
li = ["Python","Programming"]
print("%s %s "% (li[0],li[1]))

Python Programming

In [41]:
print("{0} {1}".format(li[0],li[1]))

Python Programming

In [42]:
li1 = [1,2,3,4]
print("%d %d %d %d" % (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [43]:
print("{0} {1} {2} {3} ".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### String Functions
- upper() -- Will converts the given string into upper case
- lower() -- Will converts the given string into lower case

In [45]:
s1 = 'Gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

### Boolean Function (True and False)
- islower() -- True if the string is lower case / Flase if the string not in lower case
- isupper() -- True if the string in upper case / False if the string not in upper case
- istitle() -- True if the string follows title case / False if it does not follow
- isalpha() -- True if the string contains only alphabets / False
- isnumeric() -- True if the string contains only numbers / False
- isspace() -- True if the string contains only spaces / False

In [46]:
s1 = 'GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [48]:
s2 = "Python Programming"
s3 = "python Programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [50]:
s2 = "Applicatiom1889"
s3 = "PythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [52]:
s1 = "1234"
s2 = "12c4"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [54]:
s1 = " "
s2 = "Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### String Methods
- 1.join() -- Method will cancatinates the two strings
- 2.split() -- It Returns the list of strings seperated ny whitespace(no parameters are given)
- 3.replace() -- Replaces the specific word/character with new word/character

In [55]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [56]:
s2 = "Python Programming Eay to learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,y, ,t,o, ,l,e,a,r,n

In [57]:
li = ['Python','Programming','Learn']
print(",".join(li))

Python,Programming,Learn

In [58]:
s2 = "Python Programming Easy to Learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'Learn']

In [59]:
s2 = "Python Programming Easy to Learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to Le', 'rn']

In [61]:
s2 = "Python Programming Easy to Learn"
li = s2.split() # Split the string -- list object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'Learn']
5

In [64]:
s2 = "Python Programming East to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 't', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [66]:
s2 = "Python Programming Easy to Learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to Learn